{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
<div id="menu-1">
<section style="margin-bottom: 100px;">
    <nav class="navbar navbar-dropdown bg-color transparent navbar-fixed-top">

        <div class="container">

            <div class="mbr-table">
                <div class="mbr-table-cell">

                    <a class="navbar-caption" href="/">innstal</a>                    
                        
                    

                </div>
                <div class="mbr-table-cell">

                    <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <div class="hamburger-icon"></div>
                    </button>

                    <ul class="nav-dropdown collapse pull-xs-right nav navbar-nav navbar-toggleable-sm" id="exCollapsingNavbar">
                        <li class="nav-item"><a class="nav-link link mbr-editable-menu-item" href="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link link mbr-editable-menu-item" href="/">Products</a></li>
                        <li class="nav-item"><a class="nav-link link mbr-editable-menu-item" href="/service">Service</a></li>
                        <li class="nav-item"><a class="nav-link link mbr-editable-menu-item" href="/pricing">Pricing</a></li>


                        <!-- <li class="nav-item dropdown open">
                            <a class="nav-link link dropdown-toggle mbr-editable-menu-item" href="index.html#pricing-table2-f" data-toggle="dropdown-submenu" aria-expanded="true">MORE</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item mbr-editable-menu-item" href="#">What's New</a>
                                <a class="dropdown-item mbr-editable-menu-item" href="#">Features</a>
                                <a class="dropdown-item mbr-editable-menu-item" href="#">Feedback</a>
                                <a class="dropdown-item mbr-editable-menu-item" href=".#">Forum</a>
                            </div>
                        </li> -->

                        <li class="nav-item nav-btn">
                            <a class="nav-link btn btn-white btn-white-outline mbr-editable-menu-item" href="/login" style="border-color: black; color: black">Login</a>
                        </li>

                    </ul>
                    <button hidden="" class="navbar-toggler navbar-close" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                        <div class="close-icon"></div>
                    </button>

                </div>
            </div>

        </div>
    </nav>

</section>
</div>

<section style="background-image: url({% static '/assets/images/bg_reg_warrantly.jpg' %}); width: 100%; height: 150px; text-align: center; color: white;padding-top: 30px; margin-bottom: 50px;" id="warrant_reg">
	<p>Lorem Ipsum dolor</p>
	<h1>Our Services</h1>
</section>

<section class="container" style="margin-top: 90px;">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6" style="padding-right: 10%;">
                <h3 style="margin-bottom: 30px;">We Provide Instalation instuctions in innstal</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.<br><br>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.aliquip ex ea commodo consequat.</p>
            </div>
            <div class="col-md-6" style="padding-right: 30px;">
                <div class="mbr-cards-row row striped" style="margin-top: 30px;">

                    <div class="mbr-cards-col col-xs-12 col-lg-6" style="padding-top: 30px; padding-bottom: 30px;">
                        <div class="container">
                            <div class="card cart-block">
                                <div class="card-img"><img src="{% static '/assets/images/img_laptop.jpg' %}" class="card-img-top" style="width: 100%; height: 100%;"></div>
                                <div class="card-block">
                                    <p class="card-subtitle">APPLE APPLIANCES</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mbr-cards-col col-xs-12 col-lg-6" style="padding-top: 30px; padding-bottom: 30px;">
                        <div class="container">
                            <div class="card cart-block">
                                <div class="card-img"><img src="{% static '/assets/images/img_mobile.jpg' %}" class="card-img-top" style="width: 100%; height: 100%;"></div>
                                <div class="card-block">
                                    <p class="card-subtitle" style="text-align: center;" >SAMSUNG MOBILE</p> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section mbr-background" id="about_innstal">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="padding-left: 0px">
                <div class="col-md-5" style="padding-left: 0px">
                    <img src="{% static '/assets/images/img_about.jpg' %}">
                </div>
                <div class="col-md-7">
                    
                    <h1>About Instal</h1>
                    <p style="margin-top: 50px;">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation<br><br>
Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>

                    <div style="margin-top: 40px;">
                        <a href="/about" style="padding: 20px 50px; text-align: center; background-color: #ff9837; box-shadow: none; border: none; color: white;">Know More</a>
                        <a href="/contact" style="color: black; color: #ff9837; margin-left: 30px; text-decoration: none;">Request for Service <img src="{% static '/assets/images/icon_arrow_right.png' %}" style="margin-left: 5px;"></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section mbr-testimonials" id="testimonials1-8">
    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 255, 255);">
    <div class="mbr-testimonials mbr-section mbr-section-nopadding">
        <div class="container">
            <div class="row" style="font-size: 20px; font-weight: bold;">
                Join over 2 million peoples already using Innstal. Register Now
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-12" style="padding-left: 0px;">
                    <div class="col-md-3" >
                        <input type="text" name="" placeholder="Name" style="width: 70%; height: 50px; padding-left: 20px;">
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="" placeholder="Email" style="width: 70%; height: 50px; padding-left: 20px;">
                    </div>
                    <div class="col-md-3">
                        <input type="text" name="" placeholder="Phone Number" style="width: 70%; height: 50px; padding-left: 20px;">
                    </div>
                    <div class="col-md-3">
                        <button onclick="" style="width: 100%; height: 50px; text-align: center; background-color: #ff9837; box-shadow: none; border: none; color: white;">Register Now</button>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 30px; text-align: center;">
                By clicking "Register Now" I agree to Innstal's <a href="#" style="color: black; text-decoration: underline;">Terms of Service.</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}